blockquote {
    padding-top: 15px;
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


.modal .modal-popout-bg {
  background-image: url("img/helpJohn.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}

/* Endorsements Quote Carousel */

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}
